.widget .widget-head,.btn-primary,.navbar.main .topnav>li .dropdown-menu li>a:hover,.navbar.main .topnav>li .dropdown-menu .active>a,.navbar.main .topnav>li .dropdown-menu .active>a:hover,#flotTip,.btn-group.open .btn-primary.dropdown-toggle,.btn-primary.disabled,.btn-primary[disabled],.btn-primary:hover,.filter-bar div.lbl,.widget.widget-2.primary .widget-head,.widget .widget-body.list.list-2 ul li.active a i:before,.label-important,.table-primary thead th,.pagination ul>.active>a,.pagination ul>.active>span,.gallery ul li .thumb,.widget-activity ul.filters li.glyphicons.active i,#menu ul li.active:after,.ui-slider-wrap .slider-primary .ui-slider-range,.accordion-heading .accordion-toggle,.ui-widget-header,.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,.fc-event-skin,#external-events li,.notyfy_wrapper.notyfy_primary{background-color:#496cad;}
a,p a,#menu ul li.glyphicons a i:before,.breadcrumb .glyphicons i:before,.widget .widget-body.list ul li .count,.breadcrumb .glyphicons i:before,.widget-stats .txt strong,#menu ul li a.glyphicons i:before,.navbar.main .topnav>li>a.glyphicons.logout i:before,.navbar.main .topnav>li .notif li>a.glyphicons.logout i:before,.widget-activity ul.activities li.highlight .activity-icon i:before,.glyphicons.single i:before,.glyphicons.single,.table-primary tbody td.important,.widget.widget-3 .widget-body.large.cancellations span span:first-child{color:#496cad;}
.col.main-left ul li.active,.widget .widget-head,.btn-primary,.ui-slider-wrap .slider-primary .ui-slider-handle,#flotTip,.widget.widget-2.primary .widget-head,.widget .widget-body.list.list-2 ul li.active a i:before,.table-primary thead th,.pagination ul>.active>a,.pagination ul>.active>span,.widget.widget-4 .widget-head .heading,.ui-widget-header,.fc-event-skin{border-color:#496cad;}
.table-primary tbody td{background-color:#f9fafc;}
.table-primary tbody tr.selected td,.table-primary tbody tr.selectable:hover td{background-color:#d5dded;}
.table-primary.table-bordered tbody td,.table-primary,.pagination ul>.disabled>a,.pagination ul>.disabled>span{border-color:#f9fafc;}
.widget-activity ul.activities li.highlight{background-color:rgba(73, 108, 173, 0.1);border-color:rgba(73, 108, 173, 0.2);}
.widget-activity ul.activities li.highlight .activity-icon{border-color:rgba(73, 108, 173, 0.2);}
.widget .widget-body.list.list-2 ul li.active{border-color:#8da4cf;}
.widget .widget-body.list.list-2 ul li a{color:#8da4cf;}.widget .widget-body.list.list-2 ul li a i:before{background:#f9fafc;color:#6988c0;border-color:#8da4cf;}
