﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage" %>
    <%--<form id="Form1" runat="server" style="padding: 0;">--%>
        <table id="tblInput" style="width:100%; margin-bottom:3px">
            <tr>
                <td style="width:22%;"></td>
                <td style="width:22%;"></td>
                <td style="width:12%;"></td>
                <td style="width:14%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
            </tr>
            <tr>
                <td colspan="1"><label class="control-label" for="ExportFormatTypeID">Export Format</label></td>
            </tr>
            <tr>
                <td colspan="1">
                    <select id="ExportFormatTypeID" name="ExportFormatTypeID" style="width:96%">
                        </select>
                </td>
                <td>
                    <button id="cmdExport" onclick="exportData()" type="button" class="btn btn-primary btn-icon glyphicons download"><i></i>Export</button>
                </td>
                   <td></td>                     
            </tr>

        </table>
    <%--</form>--%>
