﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>
<!DOCTYPE html>
<html lang="en">
    <head runat="server">
        <meta charset="utf-8" />
        <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
        <link href="<%: Url.Content("~/favicon.ico") %>" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap -->
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />

    <!-- Bootstrap Extended -->
    <link href="~/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet"/>
    <link href="~/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="~/bootstrap/extend/bootstrap-wysihtml5/css/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet"/>

    <!-- Select2 -->
    <link rel="stylesheet" href="~/theme/scripts/select2/select2.css" />

    <!-- JQueryUI v1.9.2 -->
    <link rel="stylesheet" href="~/theme/scripts/jquery-ui-1.9.2.custom/css/smoothness/jquery-ui-1.9.2.custom.min.css" />

    <!-- Glyphicons -->
    <link rel="stylesheet" href="~/theme/css/glyphicons.css" />

    <!-- Accordion -->
    <link rel="stylesheet" href="~/Scripts/assets/css/accordion.css" />

    <!-- Bootstrap Extended -->
    <link rel="stylesheet" href="~/bootstrap/extend/bootstrap-select/bootstrap-select.css" />
    <link rel="stylesheet" href="~/bootstrap/extend/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" />


    <!-- Uniform -->
    <link rel="stylesheet" media="screen" href="~/theme/scripts/pixelmatrix-uniform/css/uniform.default.css" />

    <!-- JQuery v1.8.2 -->
    <%--<script src="../theme/scripts/jquery-1.8.2.min.js"></script>--%>
    <script src="../Scripts/assets/js/required/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/DHTMLX/codebase/dhtmlx.css"/> 
    <link rel="stylesheet" type="text/css" href="~/DHTMLX/codebase/ext/dhtmlxgrid_pgn_bricks.css"/>  
    <link rel="stylesheet" type="text/css" href="~/DHTMLX/codebase/skins/dhtmlxgrid_dhx_skyblue.css"/>

    <!-- Modernizr -->
    <script src="../theme/scripts/modernizr.custom.76094.js"></script>

    <!-- MiniColors -->
    <link rel="stylesheet" media="screen" href="~/theme/scripts/jquery-miniColors/jquery.miniColors.css" />

    <!-- Theme -->
    <link rel="stylesheet" href="~/theme/css/style.min.css" />

    <link href="~/theme/css/menu-vertical.css" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" type="text/css" href="~/Scripts/assets/css/bootstrap-multiselect.css"/>


    <script src="../theme/scripts/jquery-ui-1.9.2.custom/js/menu-vertical.js" type="text/javascript"></script>
    <!--[if IE]><script type="text/javascript" src="~/theme/scripts/excanvas/excanvas.js"></script><![endif]-->
    <!--[if lt IE 8]><script type="text/javascript" src="../theme/scripts/json2.js"></script><![endif]-->
    </head>
    <body>
        <div class="loading" id="loading">Loading&#8230;</div>
    <div class="container-fluid fixed">
        <section id="usrNavBar">
            <%: Html.Partial("_NavigationBar") %>
        </section>
        <div id="wrapper">
            <div id="menu" class="hidden-phone">
			    
            </div>
            <section id="UsrMenus">
                <%--<%: Html.Partial("_NavMenus") %>--%>
                <%: Html.Action("ModuleAccess", "Account") %>
            </section>
            
            <div id="content">
                <div class="innerLR">
	                <div class="widget-body" id="UsersMaintenance">
	                    <div class="tab-content" style="padding: 0;">
                            <asp:ContentPlaceHolder ID="FeaturedContent" runat="server" />
                            <section class="content-wrapper main-content clear-fix">
                                <asp:ContentPlaceHolder ID="MainContent" runat="server" />
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <div id="menuR1" class="hidden-phone">
                <section id="usrLogoBar">
                    <%: Html.Partial("_LogoBar") %>
                </section>
            </div>

            <!-- End Wrapper -->
            
        </div>
    </div>
        
    <!-- JQueryUI v1.9.2 -->
    <script src="../theme/scripts/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js"></script>

    <!-- JQueryUI Touch Punch -->
    <!-- small hack that enables the use of touch events on sites using the jQuery UI user interface library -->
    <script src="../theme/scripts/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- MiniColors -->
    <script src="../theme/scripts/jquery-miniColors/jquery.miniColors.js"></script>

    <!-- Select2 -->
    <script src="../theme/scripts/select2/select2.js"></script>

    <script src="../theme/scripts/jquery.ba-resize.js"></script>

    <!-- Uniform -->
    <%--<script src="../theme/scripts/pixelmatrix-uniform/jquery.uniform.min.js"></script>--%>

    <!-- Bootstrap Script -->
    <script src="../bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>
    <script src="../bootstrap/extend/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom Onload Script -->
<%--    <script src="../theme/scripts/load.js"></script>--%>

    <!-- LESS 2 CSS -->
    <script src="../theme/scripts/less-1.3.3.min.js"></script>
    <script src="../DHTMLX/codebase/dhtmlx.js"></script>
    <script src="../Scripts/assets/js/app/GlobalFunctions.js"></script>
    <script src="../Scripts/assets/js/inputmask.min.js"></script>
    <script src="../Scripts/assets/js/inputmask.date.extensions.min.js"></script>
    <script src="../Scripts/assets/js/jquery.inputmask.min.js"></script>
    <script src="../Scripts/assets/js/accordion.js"></script>

    <script src="../Scripts/assets/js/bootstrap-multiselect.js"></script>
     <!-- Chart JS -->
    

    <asp:ContentPlaceHolder ID="ScriptsSection" runat="server" />
    </body>
</html>




